<!--
  Voltz UI - Blob Animation Background
  Animated morphing blob shapes
  @version 1.0.0
-->
<div class="voltz-blob-animation voltz-blob-animation--{{variant}}"
     role="presentation"
     aria-hidden="true"
     data-speed="{{speed}}">
  <div class="voltz-blob-animation__blob voltz-blob-animation__blob--1"></div>
  <div class="voltz-blob-animation__blob voltz-blob-animation__blob--2"></div>
  <div class="voltz-blob-animation__blob voltz-blob-animation__blob--3"></div>
  <div class="voltz-blob-animation__content">
    {{slot:default}}
  </div>
</div>
